### environment ###
**/.env

### node ###
dist
node_modules
tsconfig.tsbuildinfo

### macos ##
**/.DS_Store

### shadcn-vue ###
src/components/ui

### vite ###
vite.config.ts.**.mjs

### workspace ###
.idea
.ignore
.vscode
